@import "tailwindcss";
@import "aos/dist/aos.css";

/* Добавьте это для явного определения стилей */
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .font-montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

html, body {
width: 100%;
}
body {
  overflow-x: hidden;
}