---
import ProjectsGrid from './ProjectsGrid.jsx';
const projects = [
  {
    id: 1,
    title: 'Glasses of Cocktail',
    image: '/weather-app.jpg',
    tags: ['BRANDING'],
    featured: true,
  },
  {
    id: 2,
    title: 'Hilfiger Echidna',
    image: '/ecommerce-app.jpg',
    tags: ['VIDEO'],
    featured: true,
  },
  {
    id: 3,
    title: 'Branding with Flowers',
    image: '/salon-app.jpg',
    tags: ['BRANDING'],
    featured: false,
  },
  {
    id: 4,
    title: 'Mockup Bottle',
    image: '/banking-app.jpg',
    tags: ['MOCKUP'],
    featured: false,
  },
  {
    id: 5,
    title: 'Mockup Bottle',
    image: '/banking-app.jpg',
    tags: ['MOCKUP'],
    featured: false,
  },
];
---

<section id="projects" class="py-10 bg-[#faf6f2]">
  <div class="mx-auto max-w-[1280px] w-full px-4 sm:px-6">
    <div class="mb-12" data-aos="fade-up">
      <p
        class="text-3xl md:text-[36px] md:text-start text-center mb-2 text-black font-light"
      >
        Portfolio
      </p>
      <h2
        class="text-4xl sm:text-5xl lg:text-6xl xl:text-[90px] md:text-start text-center mb-8 font-bold font-montserrat text-black"
      >
        My recent work
      </h2>
    </div>
  </div>
  <ProjectsGrid client:load projects={projects} />
</section>
